<div class="dropdown">
    <button (click)="toggleDropdown($event)"  class="items-down"><i class="fas fa-chevron-down"></i></button>
    <div *ngIf="isOpen" class="dropdown-content">
        <hr>
        <h6>Tus cuentas</h6>
        <a href="Registro">Agregar cuenta</a>
        <a href="#">Convertir en cuenta para empresa</a>
        <h6>Más opciones</h6>
        <a href="#">Mas opciones</a>
        <a href="#">Configuración</a>
        <a href="#">Mejorar tu feed de inicio</a>
        <a href="#">Tus derechos de privacidad</a>
        <a href="#">Obtener ayuda</a>
        <a href="#">Ver condiciones de servicio</a>
        <a href="#">Ver política de privacidad</a>
        <a href="#">Salir</a>
    </div>
  </div>
