<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="pinterest">
      <div class="left">
        <a href="#" class="logo"><i class="fab fa-pinterest"></i></a>
        <a href="#" class="home">hoy</a>
        <input type="checkbox" id="check">  
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
          </label>

            <div class="text" style="white-space: nowrap; height: 48px; min-width: 60px;">    
            <a href="Explorar" class="texto" style="height: 48px; min-width: 80px; margin-left: 10px;" >Explorar</a>
            </div>
    </div>  
      <div class="search" style="margin-left: 20px;">
        <i class="fas fa-search"></i>
        <input type="search" name="" placeholder="search" id="">
      </div>
      <div class="right">
        <a href="#" class=""><i class="">
          <app-dropdown-menu></app-dropdown-menu>
        </i>
       </a>
      </div>
    </div>
