<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <nav class="pinterest-navbar">
        <div class="left" >
            <a href="#" class="logo"><i class="fab fa-pinterest"></i><h1>pinterest</h1></a>
        </div>      
        <ul class="nav-options">
            <li><a href="#">Info</a></li>
            <li><a href="#">Empresa</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <div class="auth-buttons">
            <button class="login-button">Iniciar sesión</button>
            <div class="separator"></div>
            <button class="register-button">Registrarse</button>
        </div>
    </nav>
</body>
<app-register></app-register>